<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background: linear-gradient(to right, #141414 27%, #EAE41E 0%);">
    <div class="container">
        <a class="navbar-brand font-weight-bold" style="color: #EAE41E; font-family: 'Poppins', sans-serif;">TenkoiPepew</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-dark" href="{% url 'home:activity' %}">KesibukanQ</a>
                </li>

            </ul>
        </div>
    </div>
</nav>